<%@ Master Language="C#" MasterPageFile="~/Root.master" AutoEventWireup="true" CodeFile="Light.master.cs" Inherits="LightMaster" %>

<%-- DXCOMMENT: Page Light.master is a master page for Account pages --%>
<asp:Content ID="Content1" ContentPlaceHolderID="Content" runat="server">
    <table style="width:100%;">
        <tr>
            <td>
<div class="content">
<asp:ContentPlaceHolder ID="MainContent" runat="server" />
</div>
            </td>
        </tr>
        </table>
</asp:Content>